[submodule "engine/vendor/duckdb"]
	path = engine/vendor/duckdb
	url = https://github.com/duckdb/duckdb.git
[submodule "engine/vendor/lightgbm"]
	path = engine/vendor/lightgbm
	url = https://github.com/microsoft/LightGBM.git
[submodule "engine/vendor/spdlog"]
	path = engine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "engine/vendor/fmt"]
	path = engine/vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "engine/vendor/nlohmann_json"]
	path = engine/vendor/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "engine/vendor/yaml-cpp"]
	path = engine/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "engine/vendor/pugixml"]
	path = engine/vendor/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "engine/vendor/cpp-httplib"]
	path = engine/vendor/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "engine/vendor/googletest"]
	path = engine/vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "engine/vendor/eigen"]
	path = engine/vendor/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "engine/vendor/abseil-cpp"]
	path = engine/vendor/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "engine/vendor/re2"]
	path = engine/vendor/re2
	url = https://github.com/google/re2.git
[submodule "engine/vendor/curl"]
	path = engine/vendor/curl
	url = https://github.com/curl/curl.git
[submodule "engine/vendor/arrow"]
	path = engine/vendor/arrow
	url = https://github.com/apache/arrow.git
